{% load django_bootstrap5 %}
{% block content %}
<div class="container mt-5">
    {% if form.errors.non_field_errors %}
    <div class="alert alert-danger text-center" role="alert" data-bs-dismiss="alert">
        <strong>Error:</strong>
        {{ form.errors.non_field_errors }}
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Reestablecer contraseña</h5>
                    {% if validlink %}
                    <form method="post" action="" class="form">
                        {% csrf_token %}
                        <p>Ingresa tu nueva contraseña y repítela para confirmar.</p>
                        <div class="mb-3">
                            {% bootstrap_form form %}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
                            <a href="{% url 'login' %}" class="btn btn-secondary">
                                {% include 'svg/chevron-left.svg' %}
                                Cancelar
                            </a>
                        </div>
                    </form>
                    {% else %}
                    <p>El enlace para reestablecer contraseña no es válido, probablemente porque ya fue utilizado. Por favor solicita un nuevo enlace.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}