{% load django_bootstrap5 %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Contraseña cambiada</h5>
                    <p>Has cambiado tu contraseña correctamente. Inicia sesión para continuar.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-2">
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}