{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <script>document.documentElement.setAttribute('data-bs-theme', window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')</script>
    <title>{% block title %}My Daily Quest{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav id="nav" class="navbar fixed-top navbar-expand-sm d-flex" style="background-color: #f08897;">
            <a class="align-self-start" href="{% url 'settings' %}">
                <img class="justify-content-start icon" src="{% static "icons/MENU.png" %}" alt="">
            </a>
            {% if request.user.is_authenticated %}
            <div class="justify-content-end d-flex align-items-stretch">
                <img class=" img-fluid align-self-start" src="{% static "icons/COIN.png" %}" alt="">
                <p class="icon align-self fs-5 text-sm-end navtext">{{ user.profile.credits }}</p>
            </div>
            {% endif %}
        </nav>
    </div>
    {% block messages %}{% if messages %}<div class="container mt-3">{% bootstrap_messages %}</div>{% endif %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
    <div class="container">
        <nav id="nav" class="navbar fixed-bottom navbar-expand-sm justify-content-center d-flex" style="background-color: #f08897;">
            <a href="{% url 'index' %}">
                <img class="icon" src="{% static "icons/HOME.png" %}" alt="">
            </a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'index' %}">
                <img class="icon" src="{% static "icons/PET.png" %}" alt="">
            </a>
            <a href="{% url 'customize' %}">
                <img class="icon" src="{% static "icons/BOX.png" %}" alt="">
            </a>
            <a href="{% url 'tasks' %}">
                <img class="icon" src="{% static "icons/TASKS.png" %}" alt="">
            </a>
            <a href="{% url 'adventure' %}">
                <img class="icon" src="{% static "icons/MAP.png" %}" alt="">
            </a>
            <a href="{% url 'shop' %}">
                <img class="icon" src="{% static "icons/SHOP.png" %}" alt="">
            </a>
            {% endif %}
        </nav>
    </div>
    {% endblock %}
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>