{% load django_bootstrap5 %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Instrucciones para reiniciar contraseña enviadas</h5>
                    <p>Si el correo que ingresaste es correcto, te enviaremos instrucciones para cambiar tu contraseña.</p>
                    <p>Si no has recibido el email, asegúrate de haber ingresado el correo con el que te registraste, y revisa la carpeta de spam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}