{% load django_bootstrap5 %}
{% block content %}
<div class="container mt-5">
    {% if form.errors %}
    <div class="alert alert-danger text-center" role="alert" data-bs-dismiss="alert">
        <strong>Error:</strong>
        {{ form.errors }}
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-lg-5">
            <form method="post" action="" class="form card shadow">
                <div class="card-body">
                    <h5 class="card-title">Contraseña olvidada</h5>
                    <p>Escribe tu correo a continuación, y de ser correcto, recibirás instrucciones para poder reestablecer tu contraseña.</p>
                    <div class="mb-3">
                        {% bootstrap_form form exclude='turnstile' %}
                        <div class="d-flex justify-content-center"><div class="d-inline">{{ form.turnstile }}</div></div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Restablecer contraseña</button>
                        <a href="{% url 'login' %}" class="btn btn-secondary">
                            {% include 'svg/chevron-left.svg' %}
                            Volver
                        </a>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}