{% extends "layouts/master.html" %}
{% block content %}
{% load static %}

<body class="gamertext" style="background-image: url('{% static "backgrounds/background.png" %}')">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center petscreen">new task
            <img class="h100 w100 img-fluid" src="https://cdn.discordapp.com/attachments/668596153822216220/1409431656640811018/WEB_APP.png?ex=68ad5b04&is=68ac0984&hm=3365d7f4ca21d64e01bb2863766927a32989c959b5c81fab3724f78a83710652" alt="...">
        </div>
    </div>
</body>
{% endblock %}